.movie-genres {
    color: rgb(25, 21, 18);
}

.genres-title {
    color: rgb(25, 21, 18);
    font-size: 20px;
}

.movie-info-container {
    display: grid;
    color: black;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    background-color: rgb(254, 255, 255);
    margin: auto;
    border-radius: 20px;
    padding: 25px;
    width: 80%;
}

.home-button {
    border-radius: 15px;
    background-color: #feb304;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.home-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .home-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .home-button:hover span {
    padding-right: 25px;
  }
  
  .home-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .movie-description {
    padding: 15px;
  }

  .edit-movie-button {
    background-color: rgb(208, 208, 208);
    border-radius: 12px;
    border: none;
    padding: 10px;
}

.edit-movie-button:hover {
    background-color: rgb(17, 18, 17);
    color: white;
    transition: .5s;
}