body {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.edit-movie-div {
    background-color: white;
    color: black;
    padding: 30px;
    background-color: rgb(254, 255, 255);
    margin: auto;
    border-radius: 20px;
    padding: 25px;
    width: 80%;
}

.movie-title {
    font-size: 25px;
}

.description-input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    overflow-wrap: normal;
}